@import './base.css';

.custom_input {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.input {
  margin-top: 14.5px;
  margin-left: 10px;
  font-size: 16px;
  padding: 5px 12px;
  width: 100%;
  padding-left: 35px;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 1px solid #3376c9;
  border-radius: 20px;
  transition: 0.3s ease;
}

.input:focus {
  background: #ffffff;
  border: 1px solid #5a7ec7;
  border-radius: 20px;
}

.input:focus::placeholder {
  color: transparent;
}

.input::placeholder {
  color: #3376c9;
}

.svg_icon {
  margin-top: 14.5px;
  margin-left: 10px;
  position: absolute;
  left: 10px;
  fill: #3376c9;
  width: 18px;
  height: 18px;
}

ul {
  font-family: "Krub", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3376c9;
  justify-content: space-between;
}

li {
  float: left;
}

li h2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  /* margin-left: 150px; */
  text-decoration: none;
  /* max-width: 500px; */
  font-weight: bold;
}

li.search {
  display: flex;
  align-items: center;
  color: white;
  padding: 14px 25px;
}

input {
  margin-left: 5px;
  border: none;
}
