main {
    margin-top: 20%;
    margin-left: 25%;
    max-width: 300px;
}

.name {
    display: flex;
}

input {
    border: 1px solid gray;
}

.name input[type="text"] {
    width: 50%;
    margin-bottom: 0;
    margin-right: 5px;
    padding: 8px;
    border-radius: 5px;
}

input[type="email"] {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
    width: 85%;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #2f7fe7;
    color: #fff;
    border: none;
    border-radius: 5px;
}

