* {
    font-family: 'Krub', sans-serif;
    margin: 0;
    padding: 0;
}

.sticky {
    background-color: black;
    display: inline-block;
    color: white;
    font-size: small;
    padding: 10px;
    position: absolute;
    right: 0%;
    top: 5%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    & .event1 {
        .activity {
            box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.38);
            max-width: 300px;
            max-height: 500px;
            margin: 1rem 5rem;
            position: relative;

            & img {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }

        }

        .text {
            margin-left: 15px;

            & p {
                margin-top: 10px;
                margin-bottom: 30px;

                & span {
                    font-weight: bolder;
                }
            }

            & img {
                width: 40px;
                height: 40px;
                margin-bottom: -15px;
                margin-right: 5px;
            }

            .btn {
                background-color: #1877f2;
                color: white;
                padding:10px 15px;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                margin-bottom: 15px;
                
            }

        }
    }

    & .event2 {
        margin-left: -32%;

        .activity {
            box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.38);
            max-width: 300px;
            max-height: 500px;
            margin: 1rem 5rem;
            position: relative;

            & img {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }

        }

        .text {
            margin-left: 15px;

            & p {
                margin-top: 10px;
                margin-bottom: 30px;

                & span {
                    font-weight: bolder;
                }
            }

            & img {
                width: 40px;
                height: 40px;
                margin-bottom: -15px;
                margin-right: 5px;
            }

            .btn {
                background-color: #1877f2;
                color: white;
                padding:10px 15px;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                margin-bottom: 15px;
                
            }

        }
    }

    & .event3 {
        margin-left: -64%;

        .activity {
            box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.38);
            max-width: 300px;
            max-height: 500px;
            margin: 1rem 5rem;
            position: relative;

            & img {
                width: 300px;
                height: 200px;
                object-fit: cover;
            }

        }

        .text {
            margin-left: 15px;

            & p {
                margin-top: 10px;
                margin-bottom: 30px;

                & span {
                    font-weight: bolder;
                }
            }

            & img {
                width: 40px;
                height: 40px;
                margin-bottom: -15px;
                margin-right: 5px;
            }

            .btn {
                background-color: #1877f2;
                color: white;
                padding:10px 15px;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                margin-bottom: 15px;
                
            }

        }
    }
}